.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;

  overflow: hidden;
  display: block;

  width: 100dvw;
  height: 100dvh;

  background: var(--popup-back);

  transition: unset;

  &Wrapper {
    z-index: 100;

    display: flex;
    flex-direction: column;

    width: calc(100% - 20px);
    max-height: 90dvh;
    margin-top: 80px;
    border: 1px solid var(--popup-shadow);
    border-radius: 12px;

    background: var(--bg-color);
    box-shadow: var(--popup-shadow);

    transition: all 0.3s ease;

    &.minimize {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0.8);
      opacity: 0.99;
    }
  }

  &Header {
    display: flex;
    flex-shrink: 0;
    column-gap: 8px;
    align-items: center;
    justify-content: flex-start;

    padding: 15px;
    border-bottom: 1px solid rgb(0 0 0 / 6%);

    &Close {
      background: var(--close);
    }

    &Minimize {
      background: var(--minimize);
    }

    &Button {
      cursor: pointer;

      width: 12px;
      height: 12px;
      border: none;
      border-radius: 100%;

      transition: all 0.2s;

      &:hover {
        scale: 1.1;
      }
    }
  }

  &Content {
    overflow-y: auto;
    flex: 1;
    padding: 24px;

    @media (width <= 468px) {
      padding: 24px 16px;
    }
  }
}
