.header {
  box-shadow: 0 8px 24px rgb(149 149 149 / 20%);

  &Wrapper {
    position: relative;

    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
    place-content: center space-between;
    align-items: center;

    height: 70px;

    @media (width <=640px) {
      grid-template-columns: 1fr 3fr;
    }
  }

  &Logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (width <=640px) {
      display: none;
    }
  }

  &Navigation {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;

    &Wrapper {
      display: flex;
      gap: 4rem;
      justify-content: space-around;

      padding: 0;

      list-style-type: none;

      li {
        text-decoration: underline;
      }

      @media (width <= 968px) {
        gap: 2rem;
      }

      @media (width <=468px) {
        gap: 1rem;
      }

      @media (width <=368px) {
        gap: 0.5rem;
      }
    }

    &Buttons {
      display: flex;
      flex-direction: column;
      gap: 0.1rem;
      align-items: center;
    }

    @media (width <=468px) {
      gap: 1rem;
    }

    @media (width <=368px) {
      gap: 0.5rem;
    }
  }

  &Auth {
    min-width: 80px;
  }
}
