@use './styles/base/assets';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;

  font-family: Arial, sans-serif;
  text-align: center;

  transition:
    background-color 0.6s ease-out,
    color 0.1s ease-out,
    all 0.5s ease;

  &::before {
    box-sizing: border-box;
  }

  &::after {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

main {
  min-height: calc(100vh - 70px);
  padding: 30px 0;
}
