.card {
  padding: 2rem;
  color: var(--text-color);
  background: var(--card-color);

  &Item {
    min-width: 80px;
    color: var(--text-color);
  }

  &Box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    margin-top: 2rem;
  }

  &DescriptionTitle {
    background: #322546;
  }
}
